<!DOCTYPE html><html lang="en">
<head><meta charset="UTF-8"><title> Таблица Связей </title></head>
<body>

<h1 th:text="${name}"></h1>

<BR />
<a href="/"><<< Назад на главную</a><BR />
<BR />

<table th:fragment="table" border="1">
    <tbody align="center">
        <tr>
            <th>teacher_id</th>
            <th>student_id</th>
            <th>Пояснение связи</th>
            <th>Удалить связь</th>
        </tr>

        <tr th:each="links,iter : ${list}">
            <td th:utext="${links.teacher_id}"></td>
            <td th:utext="${links.student_id}"></td>
            <td th:utext="${comments_list[iter.index]}"></td>
            <td th:utext="'<a href=/link/del?tid=' +${links.teacher_id}+ '&sid=' +${links.student_id}+ '>X</>'">...</td>
        </tr>
    </tbody>
</table>
<BR />

<form method="post" action="/link/add">
    <input type="text" name="tid" placeholder="Введите Id учителя" />
    <input type="text" name="sid" placeholder="Введите Id студента">
    <button type="submit">Добавить связь [POST]</button>
</form>

<!--
<div th:insert="~{links_table :: table}"></div>
-->

</body>
</html>