<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${message}"> </title>
</head>
<body>
<br/>
<h1  th:text="${message}"> </h1>
</br>
<a href="/"><<< Back to Main</a>
</body>
</html>