<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Делаем ссылки без подчеркивания
     можно и так <a href="http://" style="text-decoration: none">X</a> -->
    <style>a { text-decoration: none; }</style>
    <title> Список студентов </title>
</head>
<body>

<h1 th:text="${name}"></h1>

Хочу получить этот список в формате: <a href="students.json">JSON</a> <a href="students.xml">XML</a><BR />
<BR />
<a href="/"><<< Назад на главную</a><BR />
<BR />

<table border="1">
    <tbody align="center">
        <tr>
            <th>student_id</th>
            <th>name</th>
            <th>surname</th>
            <th>Удалить</th>
        </tr>

        <tr th:each="students : ${list}">
            <td th:utext="${students.student_id}">...</td>
            <td th:utext="${students.name}">...</td>
            <td th:utext="${students.surname}">...</td>
            <td th:utext="'<a href=/student/del?id='+${students.student_id}+'>&#x274C;</>'">...</td>
        </tr>
    </tbody>
</table>
<BR />

<form method="post" action="/student/add">
    <input type="text" name="name" placeholder="Введите имя студента" />
    <input type="text" name="surname" placeholder="Введите фамилию студента">
    <button type="submit">Добавить студента [POST]</button>
</form>

<!--
<BR />
<form action="/student/del" id="id_15" method="POST">
    <input type="hidden" name="id" value="15">
</form>
<a href="#" onclick="document.getElementById('id_15').submit(); return false;">
    Удалить студента №15 методом POST с применением JavaScript</a>
-->

</body>
</html>