<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>a { text-decoration: none; }</style>
    <title> Список преподавателей </title>
</head>
<body>

<h1 th:text="${name}"></h1>

Хочу получить этот список в формате: <a th:href="'/student/links.json?id='+${id}">JSON</a> <a th:href="'/student/links.xml?id='+${id}">XML</a><BR />
<BR />
<a href="/"><<< Назад на главную</a><BR />
<BR />

<table border="1">
    <tbody align="center">
        <tr>
            <th>teacher_id</th>
            <th>name</th>
            <th>surname</th>
            <th>Удалить связь</th>
        </tr>

        <tr th:each="teachers : ${list}">
            <td th:utext="${teachers.teacher_id}">...</td>
            <td th:utext="${teachers.name}">...</td>
            <td th:utext="${teachers.surname}">...</td>
            <td th:utext="'<a href=/student/links.html?id='+${id}+'&action=del&oid='+${teachers.teacher_id}+'>&#x274C;</>'">...</td>
        </tr>
    </tbody>
</table>
<BR />

<form method="get" action="/student/links.html">
    <input type="hidden" name="id" th:value="${id}" placeholder="id студента" />
    <input type="hidden" name="action" th:value="add" placeholder="action" />
    <input type="text" name="oid" placeholder="Введите id преподавателя" />
    <button type="submit">&#128279;   Добавить связь [POST]</button>
</form>

</body>
</html>