<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Cписок преподавателей к которым прикреплен студент. </title>
</head>
<body>

<h1 th:text="${name}"></h1>
<!--
Хочу получить этот список в формате: <a href="teachers.json">JSON</a> <a href="teachers.xml">XML</a><BR />
<BR />-->
<a href="/"><<< Назад на главную</a><BR />
<BR />

<table border="1">
    <tbody align="center">
        <tr>
            <th>teacher_id</th>
            <th>name</th>
            <th>surname</th>
            <th>Удалить</th>
        </tr>

        <tr th:each="teachers : ${list}">
            <td th:utext="${teachers.teacher_id}">...</td>
            <td th:utext="${teachers.name}">...</td>
            <td th:utext="${teachers.surname}">...</td>
            <td th:utext="'<a href=/teacher/del?id='+${teachers.teacher_id}+'>X</>'">...</td>
        </tr>
    </tbody>
</table>
<BR />

<form method="post" action="/links/add">
    <input type="text" name="name" placeholder="Введите имя преподавателя" />
    <button type="submit">Добавить преподавателя [POST]</button>
</form>

</body>
</html>